# Configuration Backend (FastAPI)
ENV=production
PORT=8000
API_PREFIX=/api

# Configuration Frontend (Next.js)
# URL de l'API déployée (URL Render)
NEXT_PUBLIC_API_URL=https://smartair-api.onrender.com/api
